{% extends 'base.html' %}
{% load static %}
{% include 'partials/alert.html' %}
{% block content %}
<!-- Main Body Starts -->
<div class="mainBody">
    {% include 'partials/sidebar.html' %}
    <!-- Video Section Starts -->
    <div class="videos">
        <div class="drop-down-container">
            <h1 style="font-size: 20px">Recommended</h1>
            <div class="dropdown-content-background">
                <div class="dropdown-contents">
                    <div class="dropdown-content">
                        <i class="material-icons">videocam</i>
                        <span>Create</span>
                    </div>
                    <div class="dropdown-content">
                        <i class="material-icons">settings</i>
                        <span>Settings</span>
                    </div>
                    <div class="dropdown-content">
                        <i class="material-icons">person</i>
                        <span>Switch Account</span>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="videos__container">
            <!-- Single Video Starts Here -->
            {% for v in video %}
            <div class="video">
                <div class="video__thumbnail">
                    <a href="{% url 'video-detail' v.id %}">
                        <img src="{{ v.image.url }}" alt="">
                    </a>
                </div>
                <div class="video__details">
                    <div class="author">
                        <a href="{% url 'channel-profile' v.user.channel.id %}">
                            <img src="{{ v.user.channel.image.url }}" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="{% url 'video-detail' v.id %}">
                            <h3>{{ v.title|truncatechars:35 }}</h3>
                        </a>
                        <a href="{% url 'channel-profile' v.user.channel.id %}">
                            <small>
                                {{ v.user.channel.channel_name }}
                                {% if v.user.channel.verified == True %}
                                    <i class="fas fa-check-circle"></i>
                                {% endif %}
                            </small>
                        </a>
                        <span><small>{{ v.views }} Views. {{ v.date|timesince }} ago</small></span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}